* {
  -moz-user-select: -moz-none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
  outline:0;
}

.game-container {
  margin: 30px;
  margin-left: auto;
  margin-right: auto;
  width: 366px;
  height: 444px;
  border-radius: 20px;
  background-color: #000;
  background: -webkit-linear-gradient(#555, #111);
  background: -o-linear-gradient(#555, #111);
  background: -moz-linear-gradient(#555, #111);
  background: linear-gradient(#555, #111);
  border: outset 7px #333;
}

.title {
  font-size: 1.3em;
  text-align: center;
  margin: 5px;
  color: #EEE;
}

.tile-container {
  margin-left: 5px;
  margin-right: auto;
  border-spacing: 3px;
  border-collapse: separate;
}

.tile1, .tile2, .tile3, .tile4 {
  float: left;
  width: 175px;
  height: 175px;
  border-radius: 5px;
  opacity: 0.8;
  border: 1px solid #111;
  -moz-box-shadow:    inset 6px 6px 20px #111;
  -webkit-box-shadow: inset 6px 6px 20px #111;
  box-shadow:         inset 6px 6px 20px #111;
}

.tile1:hover, .tile2:hover, .tile3:hover, .tile4:hover {
  -moz-box-shadow:    inset 7px 7px 23px #111;
  -webkit-box-shadow: inset 7px 7px 23px #111;
  box-shadow:         inset 7px 7px 23px #111;
}

.tile1 {
  /*yellow*/
  border-top-left-radius: 175px;
  background-color: #E5E500;
}

.tile2 {
  /*red*/
  border-top-right-radius: 175px;
  background-color: #CD2626;
}

.tile3 {
  /*green*/
  border-bottom-left-radius: 175px;
  background-color: #9ACD32;
}

.tile4 {
  /*blue*/
  border-bottom-right-radius: 175px;
  background-color: #1874CD;
}

.controls {
  float: left;
  margin-top: 7px;
  padding: 2px;
  text-align: center;
  width: 100%;
  height: 30px;
}

.start-button {
  float: left;
  margin-left: 15px;
  font-size: 1.1em;
  background-color: #222;
  border-radius: 5px;
  border: 1px solid #333;
  color: #CCC;
  padding: 2px;
  border-radius: 2px;
  width: 6em;
  height: 1.7em;
  background: -webkit-linear-gradient(#222, #111);
  background: -o-linear-gradient(#222, #111);
  background: -moz-linear-gradient(#222, #111);
  background: linear-gradient(#222, #111);
  -moz-box-shadow:    inset 5px 3px 4px #333;
  -webkit-box-shadow: inset 5px 3px 4px #333;
  box-shadow:         inset 5px 3px 4px #333;
}
.start-button:active {
  color: #999;
  border: 1px solid #222;
  -moz-box-shadow:    inset 4px 3px 4px #222;
  -webkit-box-shadow: inset 4px 3px 4px #222;
  box-shadow:         inset 4px 3px 4px #222;
}

.display {
  float: right;
  margin-right: 20px;
  text-align: left;
  font-size: 1em;
  border: 1px solid #444;
  background-color: #AAA88A;
  padding: 2px 0px 2px 8px;
  border-radius: 5px;
  width: 5.5em;
  height: 1.4em;
  color: #111;
  -moz-box-shadow:    inset 2px 2px 5px #000;
  -webkit-box-shadow: inset 2px 2px 5px #000;
  box-shadow:         inset 2px 2px 5px #000;
}
.round {
  font-size: 1.1em;
}

footer {
  text-align: center;
  font-size: 12px;
  margin: 30px;
}

/*-------------------------------------------------------------
Media Queries
-------------------------------------------------------------*/
@media screen and (min-width: 700px) {
  .fork-text:after {content: "Fork me on GitHub";}

  .github-fork-ribbon {
    position: absolute;
    padding: 2px 0;
    background-color: #a00;
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0)), to(rgba(0, 0, 0, 0.15)));
    background-image: -webkit-linear-gradient(top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.15));
    background-image: -moz-linear-gradient(top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.15));
    background-image: -ms-linear-gradient(top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.15));
    background-image: -o-linear-gradient(top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.15));
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.15));
    -webkit-box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.5);
    -moz-box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.5);
    box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.5);
    font: 700 13px "Helvetica Neue", Helvetica, Arial, sans-serif;
    z-index: 9999;
    pointer-events: auto;
  }

  .github-fork-ribbon a,
  .github-fork-ribbon a:hover {
    color: #fff;
    text-decoration: none;
    text-shadow: 0 -1px rgba(0, 0, 0, 0.5);
    text-align: center;
    width: 200px;
    line-height: 20px;
    display: inline-block;
    padding: 2px 0;
    border-width: 1px 0;
    border-style: dotted;
    border-color: #fff;
    border-color: rgba(255, 255, 255, 0.7);
  }

  .github-fork-ribbon-wrapper {
    width: 150px;
    height: 150px;
    position: absolute;
    overflow: hidden;
    top: 0;
    z-index: 9999;
    pointer-events: none;
  }

  .github-fork-ribbon-wrapper.right-bottom {
    position: fixed;
    top: inherit;
    bottom: 0;
    right: 0;
  }

  .github-fork-ribbon-wrapper.right-bottom .github-fork-ribbon {
    top: 80px;
    right: -43px;
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
  }
}