
* {
  /*border: 1px solid green;*/
}

.title {
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-size: 2.5em;
  font-weight: bold;
  text-align: center;
  margin: 20px 0 40px 0;
}

.controls {
  text-align: center;
  font-size: 1.1em;
}

.controls .round {
  padding-left: 10px;
}

.start-button {
  background-color: #436EEE;
  padding: 5px;
  border-radius: 5px;
  width: 4em;
  color: #FFF;
}
.start-button:hover { background-color: #4876FF; }
.start-button:active { background-color: #4169E1; }

.container {
  margin: 30px;
  margin-left: auto;
  margin-right: auto;
  width: 420px;
  height: 420px;
}

.t-left, .t-right, .b-left, .b-right {
  font-size: 1em;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  margin: 3px;
  border: #616161 solid 2px;
  width: 175px;
  height: 175px;
  line-height: 175px;
  float: left;
  border-radius: 5px;
}

.t-left:hover, .t-right:hover, .b-left:hover, .b-right:hover {
  border: #3B3B3B 2px solid;
}

.t-left {
  /*yellow*/
  border-top-left-radius: 175px;
  background-color: #CDAD00;
  /*background-color: #FFD700;*/
}

.t-right {
  /*red*/
  border-top-right-radius: 175px;
  background-color: #CD2626;
  /*background-color: #FF3030;*/
}

.b-left {
  /*green*/
  border-bottom-left-radius: 175px;
  background-color: #9BCD9B;
  /*background-color: #C1FFC1;*/
}

.b-right {
  /*blue*/
  border-bottom-right-radius: 175px;
  background-color: #1874CD;
  /*background-color: #1E90FF;*/
}

footer {
  text-align: center;
  font-size: 12px;
  margin: 30px;
}